data:
  path: /content/giraffe/data/Images/*.jpg
  fid_file: /content/giraffe/data/dog.npz
  random_crop: True
  use_tanh_range: True
model:
  generator: simple
  discriminator: resnet
training:
  out_dir:  /content/giraffe/checkpoints
  validate_every: 5000
rendering:
  render_program: ['object_rotation', 'interpolate_app', 'interpolate_shape']